{% extends 'bootstrap/base.html' %}

{% block title %}
    Cirrus
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                  {% endif %}
                  {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                  {% endif %}
                    <li><a href="{{ url_for('filefunc') }}">File Functions</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == 'success' %}
            <div class="alert alert-success mb-3" role="alert">{{ message }}</div>
            {% endif %}
            {% if category == 'error' %}
            <div class="alert alert-danger mb-3" role="alert">{{ message }}</div>
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% if current_user.is_authenticated %}
          <p>
              <h1> Hi {{ current_user.username }} </h1>
          </p>
        {% endif %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
